.carousel__pagination {
  padding: 0;
  border-radius: 20px;
}

.carousel__pagination li button::after {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: $sixth-color;
}

.carousel__pagination-button--active::after {
  background-color: $eighth-color !important;
}

.hero-slider {
  width: 100%;
  height: 500px;
  overflow: hidden;

  &__slider-img {
    display: none;

    @include from(s_tablet) {
      display: block;
    }

    img {
      width: 380px;
    }
  }

  &__bg {
    width: 100%;
    object-fit: cover;
    object-position: center;
  
    img {
      height: 100%;
    }
  }

  &__info {
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    background: linear-gradient(#ffffff00, #000000ab);
  }

  &__info--container {
    max-width: 1280px;
    width: 100%;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 90%;
    align-self: center;
  
    @include from(s_tablet) {
      grid-template-columns: 1fr 1fr;
    }
  
    @include from(m_desktop) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__text {
    display: flex;
    line-height: 25px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    text-transform: uppercase;
  
    @include from(s_tablet) {
      line-height: 50px;
      align-items: start;
      justify-content: center;
      margin-left: 0;
      margin-right: 0;
    }
  
    &-title {
      margin: 0;
      color: $third-text-color;
      font-size: $h1-mobile;
      font-weight: bold;
      margin-bottom: 40px;
      
  
      @include from(s_tablet) {
        font-size: $h1-desktop;
        margin-bottom: 0;
        text-align: start;
      }
    }
  
    &-subtitle {
      margin: 0;
      color: $secondary-text-color;
      font-size: $subtitle-mobile;
      font-weight: lighter;
  
      @include from(s_tablet) {
        font-size: $subttitle-desktop;
      }
    }
  }

  &__img {
    position: absolute;
    width: 375px;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    top: 60%;
  
    @include from(s_tablet) {
      width: 460px;
      left: 375px;
      top: 50%;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}