.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  background-color: $primary-color;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  position: relative;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    background-color: $fifth-color;
    width: 274px;
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    padding: 12px 8px;
    text-transform: capitalize;

    h3 {
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.close-button {
  top: 5px;
  right: 5px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: $secondary-color;
}


.login__form {
  text-align: start;

  &--label {
    display: block;
    font-size: 24px;
    color: $fourth-text-color;
    margin-bottom: 8px;
    font-size: $primary-paragraph;
    display: none;
  }

  &--input {
    display: block;
    width: 94%;
    margin-bottom: 16px;
    padding: 10px 8px;
    font-size: 18px;
    border: none;
    outline: 1px solid $secondary-color;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
  }
}

.login__btns-login {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 24px;
  background-color: #fff;
}

.login-button {
  width: 250px;
  color: $primary-text-color;
  display: flex;
  align-items: center;
  padding: 12px 8px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.1s ease-in;
  border: none;
  background-color: $tenth-color;
}

.login__link {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  a {
    color: $fifth-text-color;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
}